# Node Environment
PORT=5000
NODE_ENV=development

# Database Credentials
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=startup_incubation

# JWT Secret
JWT_SECRET=supersecretjwtkey12345
